.ds-link {
  --dsc-link-text-decoration-thickness--hover: 1px;
  --dsc-link-text-decoration-thickness: 1px;

  text-underline-offset: var(--spacing-6);
}

.ds-link:visited {
  color: var(--ds-color-primary-text-subtle);
}
