.ds-link {
  --dsc-link-text-decoration-thickness--hover: 1px;
  --dsc-link-text-decoration-thickness: 1px;

  text-underline-offset: var(--link-underline-offset);
  border-radius: var(--ds-border-radius-base);
}

.ds-link:visited {
  color: var(--ds-color-accent-text-subtle);
}
