.ds-link {
  --dsc-link-color: var(--ds-color-accent-text-subtle);
  --dsc-link-color--active: var(--ds-color-accent-text-default);
  --dsc-link-color--focus: var(--ds-color-accent-text-default);


  --dsc-link-background--active: var(--ds-color-accent-surface-default);
  --dsc-link-background--focus: var(--ds-color-accent-surface-default);

  --dsc-link-text-decoration-thickness--hover: 1px;
  --dsc-link-text-decoration-thickness: 1px;

  text-underline-offset: var(--link-underline-offset);
  border-radius: var(--ds-border-radius-base);
}

.ds-link:visited{
  color: var(--ds-color-accent-text-subtle);
}

