:root {
  /* Defaults */

  --font-family: 'museo-sans', Arial, sans-serif;
  --font-family-default: var(--font-family);

  /* Font weights */

  --font-weight-regular: 300;
  --font-weight-semibold: 500;
  --font-weight-bold: 700;

  /* Font sizes */

  --font-size-display-lg: 56px;
  --font-size-display-md: 44px;
  --font-size-display-sm: 36px;

  --font-size-headline-lg: 32px;
  --font-size-headline-md: 28px;
  --font-size-headline-sm: 24px;

  --font-size-title-lg: 22px;
  --font-size-title-md: 18px;
  --font-size-title-sm: 16px;

  --font-size-body-lg: 18px;
  --font-size-body-md: 16px;
  --font-size-body-sm: 14px;

  --font-size-label-xl: 20px;
  --font-size-label-lg: 18px;
  --font-size-label-md: 16px;
  --font-size-label-sm: 14px;

  --font-size-button-xl: 18px;
  --font-size-button-lg: 16px;
  --font-size-button-md: 14px;
  --font-size-button-sm: 14px;
  /* Line heights */

  --line-height-display-lg: 64px;
  --line-height-display-md: 56px;
  --line-height-display-sm: 44px;

  --line-height-headline-lg: 40px;
  --line-height-headline-md: 36px;
  --line-height-headline-sm: 32px;

  --line-height-title-lg: 28px;
  --line-height-title-md: 24px;
  --line-height-title-sm: 24px;

  --line-height-body-lg: 24px;
  --line-height-body-md: 24px;
  --line-height-body-sm: 20px;

  --line-height-label-xl: 24px;
  --line-height-label-lg: 24px;
  --line-height-label-md: 24px;
  --line-height-label-sm: 20px;

  --line-height-button-lg: 24px;
  --line-height-button-md: 24px;
  --line-height-button-sm: 20px;

  /* Letter spacings */

  --letter-spacing-display-lg: -0.32px;
  --letter-spacing-display-md: -0.16px;

  --letter-spacing-label-sm: 0.16px;

  --letter-spacing-title-lg: 0.16px;
  --letter-spacing-title-md: 0.16px;
  --letter-spacing-title-sm: 0.16px;
}
