.body {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-2);
  white-space: normal;
  word-break: break-word;
}

.body,
.heading-xxs,
.heading-xs,
.heading-sm,
.heading-md,
.heading-lg,
.heading-xl {
  font-weight: var(--font-weight-bold);
}

.heading-xxs {
  font-size: var(--typescale-title-medium-font-size);
  line-height: var(--typescale-title-medium-line-height);
  letter-spacing: var(--typescale-title-medium-letter-spacing);
}

.heading-xs {
  font-size: var(--typescale-title-large-font-size);
  line-height: var(--typescale-title-large-line-height);
  letter-spacing: var(--typescale-title-large-letter-spacing);
}

.heading-sm {
  font-size: var(--typescale-headline-small-font-size);
  line-height: var(--typescale-headline-small-line-height);
  letter-spacing: var(--typescale-headline-small-letter-spacing);
}
.heading-md {
  font-size: var(--typescale-headline-large-font-size);
  line-height: var(--typescale-headline-large-line-height);
  letter-spacing: var(--typescale-headline-large-letter-spacing);
}
.heading-lg {
  font-size: var(--typescale-display-medium-font-size);
  line-height: var(--typescale-display-medium-line-height);
  letter-spacing: var(--typescale-display-medium-letter-spacing);
}
.heading-xl {
  font-size: var(--typescale-display-large-font-size);
  line-height: var(--typescale-display-large-line-height);
  letter-spacing: var(--typescale-display-large-letter-spacing);
}

.heading-xs-margin .heading-xxs-margin {
  margin-top: var(--spacing-20);
  margin-bottom: var(--spacing-8);
}

.heading-sm-margin {
  margin-top: var(--spacing-20);
  margin-bottom: var(--spacing-12);
}
.heading-md-margin {
  margin-top: var(--spacing-20);
  margin-bottom: var(--spacing-16);
}
.heading-lg-margin {
  margin-top: var(--spacing-20);
  margin-bottom: var(--spacing-20);
}
.heading-xl-margin {
  margin-top: var(--spacing-24);
  margin-bottom: var(--spacing-24);
}

@media (max-width: 768px) {
  .heading-xxs {
    font-size: var(--typescale-title-small-font-size);
    line-height: var(--typescale-title-small-line-height);
    letter-spacing: var(--typescale-title-small-letter-spacing);
  }

  .heading-xs {
    font-size: var(--typescale-title-medium-font-size);
    line-height: var(--typescale-title-medium-line-height);
    letter-spacing: var(--typescale-title-medium-letter-spacing);
  }

  .heading-sm {
    font-size: var(--typescale-title-large-font-size);
    line-height: var(--typescale-title-large-line-height);
    letter-spacing: var(--typescale-title-large-letter-spacing);
  }
  .heading-md {
    font-size: var(--typescale-headline-medium-font-size);
    line-height: var(--typescale-headline-medium-line-height);
    letter-spacing: var(--typescale-headline-medium-letter-spacing);
  }
  .heading-lg {
    font-size: var(--typescale-headline-large-font-size);
    line-height: var(--typescale-headline-large-line-height);
    letter-spacing: var(--typescale-headline-large-letter-spacing);
  }
  .heading-xl {
    font-size: var(--typescale-display-small-font-size);
    line-height: var(--typescale-display-small-line-height);
    letter-spacing: var(--typescale-display-small-letter-spacing);
  }

  .heading-xs-margin .heading-xxs-margin .heading-sm-margin {
    margin-top: var(--spacing-20);
    margin-bottom: var(--spacing-12);
  }

  .heading-md-margin .heading-lg-margin {
    margin-top: var(--spacing-20);
    margin-bottom: var(--spacing-16);
  }
  .heading-xl-margin {
    margin-top: var(--spacing-20);
    margin-bottom: var(--spacing-20);
  }
}
