:root {
  --color-cyan-40: #a9e5fb;

  --color-orange-60: #ff3c14;

  --color-red-60: #c10b2c;

  --color-blue-10: #edf5ff;
  --color-blue-80: #132496;
  --color-blue-90: #000667;

  --color-grey-10: #f4f4f4;
  --color-grey-20: #e0e0e0;
  --color-grey-30: #c6c6c6;
  --color-grey-50: #8d8d8d;
  --color-grey-60: #6f6f6f;
  --color-grey-70: #525252;
  --color-grey-90: #262626;
  --color-grey-100: #161616;

  --color-warm-grey-10: #faf7f4;

  --color-chartblue-60: #0f62fe;
  --color-chartblue-90: #000667;

  /** Brand colors **/

  --color-brand-chartblue: var(--color-chartblue-90);
  --color-brand-grey: var(--color-grey-10);
  --color-brand-warm-grey: var(--color-warm-grey-10);
  --color-brand-orange: var(--color-orange-60);
  --color-brand-cyan: var(--color-cyan-40);

  /** Common aliases **/

  --color-disabled: var(--color-grey-30);
  --color-logo: var(--color-chartblue-90);
  --color-focus: var(--color-chartblue-60);
  --color-error: var(--color-red-60);
  --color-primary: var(--color-chartblue-90);
  --color-text: var(--color-grey-100);
  --color-description: var(--color-grey-90);
  --color-input-border: var(--color-grey-50);
  --color-input-border-active: var(--color-chartblue-60);
  --color-text-neutral-default: var(--color-grey-90);
  --color-text-neutral-subtle: var(--color-grey-70);
  --color-border-neutral-subtle: var(--color-grey-20);
  --component-tag-color-surface-white: white;

  --color-surface-warning-default: #ffb300;
  --color-surface-danger-default: #c10b2c;
  --color-surface-info-default: #5263ad;
  --color-surface-success-default: #3ba460;

  --color-surface-warning-subtle: #fff0cc;
  --color-surface-danger-subtle: #f2ced4;
  --color-surface-info-subtle: #d0e2ff;
  --color-surface-success-subtle: #d7ecdf;
}
