.pageHeading {
  background-color: var(--ds-color-neutral-surface-default);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-grow: 1;
  padding-top: var(--ds-size-6);
  padding-bottom: var(--ds-size-12);
  gap: var(--ds-size-4);
}
.hasBorder {
  border-bottom: 1px solid var(--ds-color-neutral-surface-tinted);
}
