.href {
  width: max-content;
}

.paddingOverrides {
  // Original er --dsc-button-padding
  padding: var(--ds-size-2) var(--ds-size-5);
}

// SORT ORDER -- RESEMBLES FIGMA
// VARIANTS: FILLED - OUTLINE - SUBTLE - GHOST - DASHED
// DATA-COLOR: PRIMARY - NEUTRAL - DANGER
// STATES : DEFAULT - HOVER - ACTIVE/PRESSED - DISABLED

/* ---------- outline ---------- */
.outline {
  color: var(--ds-color-text-default);
  border: 1px solid var(--ds-color-border-default);

  &:hover {
    background-color: var(--ds-color-surface-tinted);
  }
  &:active {
    background-color: var(--ds-color-surface-hover);
  }
}

/* ---------- subtle ---------- */
.subtle {
  color: var(--ds-color-text-default);
  background: var(--ds-color-background-tinted);
  border: 1px solid var(--ds-color-surface-active);

  &:hover {
    background: var(--ds-color-surface-tinted);
  }

  &:active {
    background: var(--ds-color-surface-hover);
  }
}

.subtle:not([data-color]),
.subtle[data-color='primary'] {
  border-color: var(--ds-color-border-subtle);
}

.subtle[data-color='neutral'] {
  [data-color-scheme='dark'] & {
    background-color: var(--ds-color-surface-default);
  }
}

/* ---------- ghost ---------- */
.ghost {
  color: var(--ds-color-text-default);
  &:hover {
    background-color: var(--ds-color-surface-tinted);
  }
  &:active {
    background-color: var(--ds-color-surface-hover);
  }
}

/* ---------- dashed ---------- */
.dashed {
  border-style: dashed;
  background: transparent;
  color: var(--ds-color-text-default);

  &:hover {
    border-style: dashed;
    background-color: var(--ds-color-surface-tinted);
  }

  &:active {
    background-color: var(--ds-color-surface-hover);
  }
}

/* ---------- collection overrides ---------- */
:is(.dashed, .subtle, .ghost, .outline)[data-color='danger'] {
  color: var(--ds-color-danger-text-subtle);
}
