@import '../../styles/variables.css';

.kyv-button {
  font-size: 16px;
  font-family: Arial, sans-serif;
  font-weight: 400;
  border: 0;
  border-radius: 0;
  padding: 0.625rem 1.25rem;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  background: transparent;
  color: var(--kyv-color-primary);
  border: 2px solid var(--kyv-color-primary);
}

.kyv-button:hover {
  border: 2px solid var(--kyv-color-primary-2);
}

.kyv-button:focus {
  outline: 0.125rem solid var(--kyv-color-secondary);
  outline-offset: 0.0625rem;
  z-index: 5;
}

.kyv-button--primary {
  background: var(--kyv-color-primary);
  color: var(--kyv-color-primary-text);
  border: 2px solid var(--kyv-color-primary);
}
.kyv-button--primary:hover {
  border: 2px solid var(--kyv-color-primary-2);
}

.kyv-button--small {
  font-size: 12px;
  padding: 0.4rem 0.7rem;
}
