.text {
  color: var(--ds-color-danger-text-default);
}
.icon {
  color: var(--ds-color-danger-base-default);
  font-size: 20px;
}
.optional {
  margin-left: var(--spacing-8) !important;
  border: 1px solid #94c1e3;
  background: #d3e5f4;
  padding: 1px 4px 0px 4px !important;
  border-radius: 2px;
}
.required {
  margin-left: var(--spacing-8) !important;
  border: 1px solid #ffe099;
  background: #fff0cc;
  padding: 1px 4px 0px 4px !important;
  border-radius: 2px;
}
.requiredStar {
  color: var(--ds-color-danger-base-default);
  user-select: none;
  margin-left:var(--spacing-8);
}

.loading {
  margin-left:var(--spacing-8) !important;
  display: inline;
}
