// Basisstil for alle tab-knapper
:is(.ds-tabs [role='tablist'], .ds-tabs u-tablist) button {
  font-weight: 500;
  padding: 9px 3px 9px 3px;
  margin-right: 21px;

  &:last-child {
    margin-right: 0;
  }
  gap: 7px;
}

// Aktiv tab - tekstfarge på den valgte taben
:is(
  :is(.ds-tabs [role='tablist'], .ds-tabs u-tablist) > [role='tab'][aria-selected='true'],
  :is(.ds-tabs [role='tablist'], .ds-tabs u-tablist) > u-tab[aria-selected='true']
) {
  color: var(--ds-color-primary-text-default);
}

// Aktiv tab - understreken (::after) på den valgte taben
:is(
  :is(.ds-tabs [role='tablist'], .ds-tabs u-tablist) > [role='tab'][aria-selected='true'],
  :is(.ds-tabs [role='tablist'], .ds-tabs u-tablist) > u-tab[aria-selected='true']
):after {
  background: var(--ds-color-accent-base-default);
  transform: translateY(1px);
}

// Hover på inaktiv tab - viser en understrek ved hover
:is(
  :is(.ds-tabs [role='tablist'], .ds-tabs u-tablist) > [role='tab']:hover:not([aria-selected='true']),
  :is(.ds-tabs [role='tablist'], .ds-tabs u-tablist) > u-tab:hover:not([aria-selected='true'])
):after {
  background: var(--ds-color-neutral-border-subtle);
  transform: translateY(1px);
}

// Tab-listen (container) - tillater overflow slik at understrek ikke klippes
:is(.ds-tabs [role='tablist'], .ds-tabs u-tablist) {
  overflow: initial !important;
}
