@layer styrbord-modules {
  .uploadButton {
    color: var(--ds-color-neutral-text-default);
    border: 1px solid var(--ds-color-neutral-border-default);
    &:hover {
      background-color: var(--ds-color-neutral-surface-tinted);
    }
  }

  .dropzone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 12px;
    border: 1px dashed var(--ds-color-neutral-border-default);
    border-radius: var(--ds-border-radius-default);
    &:hover {
      background-color: var(--ds-color-neutral-background-tinted);
      cursor: pointer;
    }

    /* Applied onDragOver, normal :active only triggers on file drop */
    &.active {
      background-color: var(--ds-color-neutral-background-tinted);
    }
  }

  .dropzoneText {
    text-align: center;
    white-space: pre-wrap;
    pointer-events: none;
  }

  .dropzoneIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--ds-size-12);
    height: var(--ds-size-12);
    border-radius: var(--ds-border-radius-full);
    background-color: var(--ds-color-neutral-surface-tinted);
    pointer-events: none;
  }

  .stretch {
    flex-grow: 1;
  }
}
