@layer styrbord-modules {
  .uploadButton {
    padding: var(--spacing-8) var(--spacing-16);
    border: var(--ds-border-width-default) solid var(--ds-color-neutral-border-default);
    border-radius: var(--ds-border-radius-default);
    background: var(--ds-color-neutral-surface-default);
    /* flex-grow: 1; */
    color: var(--ds-color-neutral-text-default);
    color: var(--ds-color-neutral-text-subtle);
    text-align: left;
  }

  .dropzone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 12px;
    border: 1px dashed var(--ds-color-neutral-border-default);
    border-radius: var(--ds-border-radius-default);
    &:hover {
      background-color: var(--ds-color-neutral-background-tinted);
      cursor: pointer;
    }
    &.active {
      background-color: var(--ds-color-neutral-background-tinted);
    }
  }

  .dropzoneText {
    text-align: center;
    white-space: pre-wrap;
  }

  .dropzoneIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--ds-size-12);
    height: var(--ds-size-12);
    border-radius: var(--ds-border-radius-full);
    background-color: var(--ds-color-neutral-surface-tinted);
  }

  .stretch {
    width: 100%;
  }
}
