.ds-details {
  --dsc-details-summary-background: var(--color-neutral-background-subtle);
  --dsc-details-summary-color: var(--color-neutral-text-default);
  --dsc-details-summary-background--hover: var(--color-neutral-surface-default);
  --dsc-details-summary-background--open: var(--color-neutral-surface-default);
  --dsc-details-border-color: var(--color-neutral-border-subtle);
  border-color: var(--color-neutral-border-subtle);
  background: var(--color-neutral-background-subtle);
}

.ds-card {
  border-color: var(--color-neutral-border-subtle);
  color: var(--color-neutral-text-default);
}
