.boxed {
  padding: var(--ds-size-4);
  border: 1px solid;
  border-radius: var(--ds-border-radius-default);
}

.default:has(input[type='checkbox']:checked) {
  border-color: var(--ds-color-info-border-default);
  background-color: var(--ds-color-primary-surface-tinted);
}

.default {
  border-color: var(--ds-color-neutral-border-subtle);
}

.error {
  border-color: var(--ds-color-danger-text-subtle);
}

.error:has(input[type='checkbox']:checked) {
  border-color: var(--ds-color-danger-text-subtle);
}

.readOnly {
  border-color: var(--ds-color-neutral-border-subtle);
  background-color: var(--ds-color-neutral-background-tinted);
}

// Set to hsla, because there was no option in tokens
.disabled {
  border-color: hsla(30, 3%, 73%, 0.3);
}
.disabled:has(input[type='checkbox']:checked) {
  border-color: hsla(226, 94%, 25%, 0.3);
  background-color: hsla(196, 91%, 91%, 0.3);
}

.boxedLabel {
  max-width: 400px;
  display: grid;
}
.pointer {
  cursor: pointer;
}
