@layer styrbord-modules {
  .footer {
    background-color: var(--ds-color-primary-base-default);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-48) var(--spacing-32);
  }

  .footerContainer {
    container-type: inline-size;
    container-name: footer;
    justify-content: center;
    width: 100%;
    max-width: 80rem;
  }

  .linksContainer,
  .linksAndContactsContainer,
  .footerContentContainer {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-32);
  }
  .footerContentContainer {
    align-items: center;
    justify-content: center;
  }
  .linksContainer:empty,
  .linksAndContactsContainer:empty,
  .footerContentContainer:empty {
    display: none;
  }
  .linkList {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-right: var(--spacing-16);
  }
  .footer .link,
  .footer .link:visited,
  .footer .link:active {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: start;
    color: white;
    background-color: transparent;
    font-weight: var(--ds-font-weight-medium);
  }
  .footer .link:hover {
    color: var(--ds-color-primary-base-contrast-subtle);
  }
  .footer .link:focus-within {
    outline: 2px solid var(--ds-color-neutral-base-contrast-default);
    outline-offset: 2px;
    color: var(--ds-color-primary-base-contrast-subtle);
  }

  .icon {
    color: var(--ds-color-accent-base-default);
  }
  .textContainer {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
    align-items: center;
  }
  .extraText {
    color: var(--ds-color-neutral-base-contrast-default);
    font-size: var(--ds-body-sm-font-size);
    line-height: var(--ds-body-sm-line-height);
    letter-spacing: var(--ds-body-sm-letter-spacing);
    font-weight: var(--ds-font-weight-regular);
  }
  .copyrightText {
    color: var(--ds-color-neutral-surface-active);
    font-size: var(--ds-body-xs-font-size);
    line-height: var(--ds-body-xs-line-height);
    letter-spacing: var(--ds-body-xs-letter-spacing);
    font-weight: var(--ds-font-weight-regular);
  }
  .logoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-16);
    flex-shrink: 0;
    padding: 0px var(--spacing-64);
    border-right: 1px solid var(--ds-color-primary-base-active);
  }
  .logoContainerInner {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-48);
  }

  .select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border-color: var(--ds-color-primary-base-contrast-subtle);
    color: var(--ds-color-primary-base-contrast-default);
    border-radius: var(--ds-border-radius-default);
    min-width: 208px;
    max-width: 304px;
    background: url(keyboard_arrow_down.svg) right 8px center no-repeat;
  }

  select:hover {
    border-color: var(--ds-color-primary-border-hover);
  }

  .selectOption {
    color: var(--ds-color-primary-text-default) !important;
  }

  @container footer (width < 1024px) {
    .linksContainer {
      flex-direction: column;
    }
  }

  @container footer (width < 868px) {
    .logoContainer {
      border-right: none;
    }
    .footerContentContainer {
      flex-direction: column;
      align-items: center;
    }
    .logoContainer {
      padding: 0px;
    }
  }

  @container footer (width < 520px) {
    .linksAndContactsContainer {
      flex-direction: column-reverse;
      align-items: start;
    }
    .footerContentContainer,
    .logoContainer,
    .linksAndContactsContainer {
      align-items: stretch;
    }
    .logoContainerInner {
      flex-direction: column;
      align-items: center;
    }
    select {
      min-width: 100% !important;
      max-width: 100% !important;
    }
    .footerContentContainer {
      padding: 0px var(--spacing-16);
    }
  }
}
