.footer a {
  color: white;

}
.footer a:hover {
  color: var(--color-accent-text-subtle);

}
.footer a:focus {
  background: black;
  color: white;

}

.link{
display: flex;
align-items: center;

}

.icon{
  color: var(--color-brand2-text-subtle) !important;
}

.select{
  background-color: transparent ;
  border-color: var(--color-accent-border-default);
color: white !important;
min-width: 208px;
}

.logo{
  min-width: 276px;
  max-width: 332px;
}



