// Sizes
.size2xs {
  height: 28px;
  width: 28px;
  font-size: 10px;
  line-height: 10px;
}

.size3xs {
  height: 22px;
  width: 22px;
  font-size: 8px;
  line-height: 8px;
}

// Colors
[data-color='primary'].surfaceTinted {
  background-color: var(--color-primary-surface-tinted);
  color: var(--color-primary-text-default);
}
[data-color='accent'].surfaceTinted {
  background-color: var(--color-accent-surface-tinted);
  color: var(--color-accent-text-default);
}
[data-color='success'].surfaceTinted {
  background-color: var(--color-success-surface-tinted);
  color: var(--color-success-text-default);
}
[data-color='warning'].surfaceTinted {
  background-color: var(--color-warning-surface-tinted);
  color: var(--color-warning-text-default);
}
[data-color='danger'].surfaceTinted {
  background-color: var(--color-danger-surface-tinted);
  color: var(--color-danger-text-default);
}
[data-color='neutral'].surfaceTinted {
  background-color: var(--color-neutral-surface-tinted);
  color: var(--color-neutral-text-default);
}
[data-color='extra1'].surfaceTinted {
  background-color: var(--color-extra1-surface-tinted);
  color: var(--color-extra1-text-default);
}
[data-color='extra2'].surfaceTinted {
  background-color: var(--color-extra2-surface-tinted);
  color: var(--color-extra2-text-default);
}
