@layer styrbord-modules {
  .width-full {
    width: 100%;
  }
  .width-md {
    width: 500px;
  }
  .closeButton {
    flex-shrink: 0;
    font-size: 16px;
    padding: var(--spacing-2);
    line-height: 0px;
    background: transparent;
    border: 0px;
    cursor: pointer;
  }
  .alert {
    --dsc-alert-border-color: var(--ds-color-border-subtle);
  }
  .alert[data-color], .alert[data-color='info'] {
    --dsc-alert-icon-url: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M19.5713%203.42871C20.1236%203.42871%2020.5713%203.87643%2020.5713%204.42871V19.5713C20.5713%2020.1236%2020.1236%2020.5713%2019.5713%2020.5713H4.42871C3.87643%2020.5713%203.42871%2020.1236%203.42871%2019.5713V4.42871C3.42871%203.87643%203.87643%203.42871%204.42871%203.42871H19.5713ZM11.1426%2016.7139H12.8574V10.2861H11.1426V16.7139ZM11.1426%206.85742V8.57129H12.8574V6.85742H11.1426Z%22%20fill%3D%22currentColor%22%2F%3E%3C%2Fsvg%3E");
  }
  .alert[data-color='warning'] {
    --dsc-alert-icon-url: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M11.5664%203.33142C11.7584%202.99551%2012.2426%202.99551%2012.4346%203.33142L21.8584%2019.8236C22.0487%2020.1568%2021.8084%2020.5714%2021.4248%2020.5717H2.57617C2.1924%2020.5717%201.95151%2020.1569%202.1416%2019.8236L11.5664%203.33142ZM11.1436%2015.8568V17.5717H12.8574V15.8568H11.1436ZM11.1436%2014.5717H12.8574V9.4281H11.1436V14.5717Z%22%20fill%3D%22%2380540F%22%2F%3E%3C%2Fsvg%3E");
  }
  .alert[data-color='success'] {
    --dsc-alert-icon-url: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M11.998%202.57129C13.3022%202.57129%2014.5283%202.81856%2015.6758%203.31348C16.8233%203.80839%2017.8212%204.4807%2018.6699%205.3291C19.5186%206.17748%2020.1903%207.17535%2020.6855%208.32227C21.1805%209.46912%2021.4287%2010.6942%2021.4287%2011.998C21.4287%2013.3022%2021.1814%2014.5283%2020.6865%2015.6758C20.1916%2016.8233%2019.5193%2017.8212%2018.6709%2018.6699C17.8225%2019.5186%2016.8247%2020.1903%2015.6777%2020.6855C14.5309%2021.1805%2013.3058%2021.4287%2012.002%2021.4287C10.6978%2021.4287%209.47169%2021.1814%208.32422%2020.6865C7.17674%2020.1916%206.17881%2019.5193%205.33008%2018.6709C4.4814%2017.8225%203.80968%2016.8247%203.31445%2015.6777C2.81945%2014.5309%202.57132%2013.3058%202.57129%2012.002C2.57129%2010.6978%202.81856%209.47169%203.31348%208.32422C3.80839%207.17674%204.4807%206.17881%205.3291%205.33008C6.17748%204.4814%207.17535%203.80968%208.32227%203.31445C9.46912%202.81945%2010.6942%202.57132%2011.998%202.57129ZM10.7139%2013.7881L8.32031%2011.3936L7.1084%2012.6064L10.7139%2016.2119L17.3203%209.60645L16.1084%208.39355L10.7139%2013.7881Z%22%20fill%3D%22currentColor%22%2F%3E%3C%2Fsvg%3E");
  }
  .alert[data-color='danger'] {
    --dsc-alert-icon-url: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M21.4287%208.0752V15.9248L15.9248%2021.4287H8.0752L2.57129%2015.9248V8.0752L8.0752%202.57129H15.9248L21.4287%208.0752ZM12%2010.7881L8.74902%207.53711L7.53711%208.74902L10.7881%2012L7.53711%2015.251L8.74902%2016.4629L12%2013.2119L15.251%2016.4629L16.4629%2015.251L13.2119%2012L16.4629%208.74902L15.251%207.53711L12%2010.7881Z%22%20fill%3D%22currentColor%22%2F%3E%3C%2Fsvg%3E");
  }
}
