:root {
  --kyv-color-navy: #000667;
  --kyv-color-navy-text: #fff;
  --kyv-color-rust: #ff451f;
  --kyv-color-rust-text: #000;
  --kyv-color-sky: #a9e5fb;
  --kyv-color-sky-text: #000;
  --kyv-color-sand: #f9f6f3;
  --kyv-color-sand-text: #000;
  --kyv-color-sea: #0596cb;
  --kyv-color-sea-text: #000;
  --kyv-color-grey: #5d5d5d;
  --kyv-color-grey-text: #fff;
  --kyv-color-forest: #3ba460;
  --kyv-color-forest-text: #000;

  --kyv-color-white: #fff;
  --kyv-color-white-text: var(--kyv-color-navy);

  --kyv-color-black: #000;
  --kyv-color-black-text: var(--kyv-color-sand);
}

.kyv-body {
  font-size: 16px;
  font-family: Arial, sans-serif;
  font-weight: 400;
}
