.toggleBox {
  border: var(--ds-border-width-thin) solid var(--color-neutral-border-subtle) !important;
  border-radius: var(--ds-border-radius-large);
  padding: var(--spacing-12);
  background-color: var(--ds-color-neutral-background-default);
  flex: 1 1 auto;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-8);
  align-items: center;
  transition: all 0.1s;
}
.toggleBox:hover {
  background-color: var(--ds-color-accent-background-subtle);
}
.toggledTrue {
  border: var(--ds-border-width-thin) solid var(--ds-color-accent-text-subtle) !important;
  background-color: var(--ds-color-accent-background-subtle);
}
.toggleBoxError {
  border: var(--ds-border-width-thin) solid var(--ds-color-danger-border-strong) !important;
  color: var(--ds-color-danger-border-strong) !important;
}
.toggleGroup {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-8);
}

@container (min-width: 500px) {
  .toggleGroup {
    grid-template-columns: 1fr 1fr;
  }
}

.toggleBoxIndicator {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid #636363;
  line-height: 0;
  flex-shrink: 0;
  padding: 0;
  margin: 0;
  position: relative;
}
.toggleBoxIndicatorIcon {
  position: absolute;
  padding: 0;
  margin: 0;
  top: -1px;
  left: -0.5px;
  font-size: 18px !important;
  opacity: 0;
}
.toggledTrue .toggleBoxIndicator {
  border-color: #2a57c0;
  background: #2a57c0;
  color: white;
}
.toggledTrue .toggleBoxIndicator .toggleBoxIndicatorIcon {
  opacity: 1;
}
.toggleBoxText {
  text-align: left;
}

@media screen and (max-width: 600px) {
  .toggleGroup {
    grid-template-columns: 1fr;
  }
}
