.textArea {
  --textarea-padding-block: calc(var(--spacing-6) * 2);

  // 2 lines
  &.small textarea {
    min-height: calc(3rem + var(--textarea-padding-block));
  }

  // 4 lines
  &.medium textarea {
    min-height: calc(6rem + var(--textarea-padding-block));
  }

  // 8 lines
  &.large textarea {
    min-height: calc(12rem + var(--textarea-padding-block));
  }
}
