@import '../../styles/variables.css';

.kyv-h {
  font-size: 16px;
  font-family: Arial, sans-serif;
  font-weight: 400;
  padding: 0.625rem 1.25rem;
  display: block;
  background: transparent;
  color: var(--kyv-color-navy);
  margin: 0px;
  padding: 0px;
  letter-spacing: 0.02rem;
}

h1.kyv-h {
  font-size: 3rem;
  line-height: 1.21;
  text-transform: uppercase;
}
h2.kyv-h {
  font-size: 2.5rem;
  line-height: 1.2;
}
h3.kyv-h {
  font-size: 1.75rem;
  line-height: 1.1;
}
h4.kyv-h {
  font-size: 1.15rem;
  line-height: 1.1;
  font-weight: 600;
}
.kyv-h.underline {
  text-decoration: underline;
  text-decoration-color: var(--kyv-color-rust);
  text-decoration-thickness: 0.125rem;
  text-underline-offset: 0.125rem;
}
h1.kyv-h.underline {
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 0.4rem;
}
h2.kyv-h.underline {
  text-decoration-thickness: 0.175rem;
  text-underline-offset: 0.3rem;
}
h3.kyv-h.underline {
  text-decoration-thickness: 0.15rem;
  text-underline-offset: 0.25rem;
}
h4.kyv-h.underline {
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 0.2rem;
}
