.widthMd {
  width: 500px;
}
.widthFull {
  width: 100%;
}

.content {
  flex-grow: 1;
}
.icon {
  flex-shrink: 0;
  margin: var(--spacing-2);
  margin-right: 0;
}
.closeButton {
  flex-shrink: 0;
  margin: var(--spacing-2);
  margin-left: 0;
  font-size: 16px;
  padding: 0px;
  line-height: 0px;
  background: transparent;
  border: 0px;
  cursor: pointer;
}

.alertBox {
  border-radius: var(--size-border-radius-default);
  border: 0px solid transparent;
  border-left: var(--size-border-width-3) solid var(--alert-color-border);
  background: var(--alert-color-background);
  color: var(--alert-color-text);
}
.alertBox .icon {
  color: var(--alert-color-icon);
}

.warning {
  composes: alertBox;
  --alert-color-border: var(--color-warning-border-default);
  --alert-color-background: var(--color-warning-surface-subtle);
  --alert-color-text: var(--color-warning-text-default);
  --alert-color-icon: var(--color-warning-text-subtle);
}

.error {
  composes: alertBox;
  --alert-color-border: var(--color-danger-border-default);
  --alert-color-background: var(--color-danger-surface-subtle);
  --alert-color-text: var(--color-danger-text-default);
  --alert-color-icon: var(--color-danger-text-subtle);
}

.ghost {
  composes: alertBox;
  --alert-color-border: white;
  --alert-color-background: white;
  --alert-color-text: var(--color-neutral-text-default);
  --alert-color-icon: var(--color-info-text-subtle);
}

.info {
  composes: alertBox;
  --alert-color-border: var(--color-info-border-default);
  --alert-color-background: var(--color-info-surface-subtle);
  --alert-color-text: var(--color-info-text-default);
  --alert-color-icon: var(--color-info-text-subtle);
}

.success {
  composes: alertBox;
  --alert-color-border: var(--color-success-border-default);
  --alert-color-background: var(--color-success-surface-subtle);
  --alert-color-text: var(--color-success-text-default);
  --alert-color-icon: var(--color-success-text-subtle);
}

.customWidth {
  width: 700px;
}
