@layer styrbord-modules {
  .size-2xs {
    --icon-size: 0.875rem;
    --icon-font-size: 0.875rem;
  }
  .size-xs {
    --icon-size: 1rem;
    --icon-font-size: 1rem;
  }
  .size-sm {
    --icon-size: 1.125rem;
    --icon-font-size: 1.125rem;
  }
  .size-md {
    --icon-size: 1.3125rem;
    --icon-font-size: 1.3125rem;
  }
  .size-lg {
    --icon-size: 1.5rem;
    --icon-font-size: 1.5rem;
  }
  .size-xl {
    --icon-size: 2rem;
    --icon-font-size: 2rem;
  }
  .size-2xl {
    --icon-size: 3rem;
    --icon-font-size: 3rem;
  }
  .size-3xl {
    --icon-size: 4rem;
    --icon-font-size: 4rem;
    --indicator-font-size: 2.2rem;
  }
  .container.noBackground {
    --icon-container-size: var(--icon-size);
  }
  .container.hasBackground {
    --icon-container-size: calc(var(--icon-size) * 1.5);
  }
  .hasBackground .icon {
    --icon-size: calc(var(--icon-font-size) * 1.5);
    padding: calc(var(--icon-font-size) * 0.25);
    border-radius: var(--ds-border-radius-lg);
  }
  .container {
    display: flex; /* To avoid "descender space" below icon */
    position: relative;
    width: var(--icon-container-size) !important;
    height: var(--icon-container-size) !important;
    font-weight: var(--ds-font-weight-regular);
    user-select: none;
  }
  .icon {
    width: var(--icon-size) !important;
    height: var(--icon-size) !important;
    font-size: var(--icon-font-size) !important;
  }
  .indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: calc(var(--icon-font-size) * 0.05) !important;
    border-radius: 999px;
    font-size: calc(var(--icon-font-size) * 0.5) !important;
    font-weight: 700 !important;
  }
  .noBackground .indicator {
    background: var(--ds-color-primary-surface-default);
  }
  .indicator-bottom-left {
    top: 50%;
    left: 10%;
    bottom: auto;
    right: auto;
  }
  .indicator-top-left {
    top: 10%;
    left: 5%;
    bottom: auto;
    right: auto;
  }
  .indicator-top-right {
    top: 10%;
    left: 50%;
    bottom: auto;
    right: auto;
  }
}
