.kyv-area {
  display: block;
  background: var(--kyv-color-white);
  color: var(--kyv-color-white-text);
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.kyv-area-bg-navy {
  background: var(--kyv-color-navy);
  color: var(--kyv-color-navy-text);
}
.kyv-area-bg-rust {
  background: var(--kyv-color-rust);
  color: var(--kyv-color-rust-text);
}
.kyv-area-bg-forest {
  background: var(--kyv-color-forest);
  color: var(--kyv-color-forest-text);
}
.kyv-area-bg-sky {
  background: var(--kyv-color-sky);
  color: var(--kyv-color-sky-text);
}
.kyv-area-bg-sand {
  background: var(--kyv-color-sand);
  color: var(--kyv-color-sand-text);
}
.kyv-area-bg-sea {
  background: var(--kyv-color-sea);
  color: var(--kyv-color-sea-text);
}
.kyv-area-bg-black {
  background: var(--kyv-color-black);
  color: var(--kyv-color-black-text);
}
.kyv-area-bg-grey {
  background: var(--kyv-color-grey);
  color: var(--kyv-color-grey-text);
}

.kyv-area-border {
  border-left: 15px solid transparent;
}

.kyv-area-border-navy {
  border-color: var(--kyv-color-navy);
}
.kyv-area-border-rust {
  border-color: var(--kyv-color-rust);
}
.kyv-area-border-forest {
  border-color: var(--kyv-color-forest);
}
.kyv-area-border-sky {
  border-color: var(--kyv-color-sky);
}
.kyv-area-border-sand {
  border-color: var(--kyv-color-sand);
}
.kyv-area-border-sea {
  border-color: var(--kyv-color-sea);
}
.kyv-area-border-black {
  border-color: var(--kyv-color-black);
}
.kyv-area-border-grey {
  border-color: var(--kyv-color-grey);
}
