.opaqueHeader th {
  --dsc-table-header-background: var(--ds-color-background-tinted);
  --dsc-table-divider-border-width: 1px;
}
.table {
  --dsc-table-border-color: var(--ds-color-border-strong);
}
