.opaqueHeader th {
  --dsc-table-header-background: var(--ds-color-background-tinted);
  --dsc-table-divider-border-width: 1px;
}
.table[data-color='neutral'] {
  --dsc-table-border-color: var(--ds-color-neutral-border-subtle);
}

.table[data-color='main'] {
  --dsc-table-border-color: var(--ds-color-border-strong);
}

.body {
  --dsc-table-background: white;
}
