.radioBox {
  border: var(--border-width-default) solid var(--color-neutral-border-subtle) !important;
  border-radius: var(--ds-border-radius-lg);
  padding: var(--spacing-12);
  background-color: var(--ds-color-neutral-background-default);
  flex: 1 1 auto;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-8);
  align-items: center;
  transition: all 0.1s;
}
.radioBoxActive {
  border: var(--border-width-default) solid var(--ds-color-info-border-strong) !important;
  background-color: var(--ds-color-info-background-tinted);
}
.radioBox:hover {
  background-color: var(--ds-color-info-background-tinted);
}
.radioBoxError {
  border: var(--border-width-default) solid var(--ds-color-danger-border-strong) !important;
  color: var(--ds-color-danger-border-strong) !important;
}
.radioBoxError .radioBoxIndicator {
  border-color: var(--ds-color-danger-border-strong);
}
.radioGroup {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-8);
}
@container (min-width: 400px) {
  .radioGroup {
    grid-template-columns: 1fr 1fr;
  }
}
.radioBoxIndicator {
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 999px;
  border: 1px solid #636363;
  line-height: 0;
  flex-shrink: 0;
}
.radioBoxActive .radioBoxIndicator {
  border-color: #2a57c0;
  box-shadow: inset 0 0 0 4px #2a57c0;
}
.radioBoxText {
  text-align: left;
  word-wrap: break-word;
  font-weight: 500;
}
