.radioBox {
  border: var(--ds-border-width-thin) solid var(--ds-color-neutral-surface-hover) !important;
  border-radius: var(--ds-border-radius-medium);
  padding: var(--spacing-12);
  background-color: var(--ds-color-neutral-background-default);
  flex: 1 1 auto;
  cursor: pointer;
}
.radioBoxActive {
  border: var(--ds-border-width-thin) solid var(--ds-color-accent-border-strong) !important;
}
