@layer styrbord-modules {
  .radioBox {
    border: var(--ds-border-width-default) solid var(--ds-color-neutral-border-subtle) !important;
    border-radius: var(--ds-border-radius-lg);
    padding: var(--spacing-12);
    background-color: var(--ds-color-neutral-background-default);
    flex: 1 1 auto;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: var(--spacing-8);
    align-items: center;
    transition: all 0.1s;
  }
  .radioBoxActive {
    border: var(--ds-border-width-default) solid var(--ds-color-primary-border-strong) !important;
    background-color: var(--ds-color-primary-background-tinted);
  }
  .radioBox:hover {
    background-color: var(--ds-color-primary-background-tinted);
  }
  .radioBoxError {
    border: var(--ds-border-width-default) solid var(--ds-color-danger-border-strong) !important;
    color: var(--ds-color-danger-border-strong) !important;
  }
  .radioBoxError .radioBoxIndicator {
    border-color: var(--ds-color-danger-border-strong);
  }
  .radioGroup {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-8);
  }
  @container (min-width: 400px) {
    .radioGroup {
      grid-template-columns: 1fr 1fr;
    }
  }
  .radioBoxIndicator {
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 999px;
    border: var(--ds-border-width-default) solid var(--ds-color-neutral-border-subtle);
    line-height: 0;
    flex-shrink: 0;
  }
  .radioBoxActive .radioBoxIndicator {
    border-color: var(--ds-color-primary-border-default);
    box-shadow: inset 0 0 0 4px var(--ds-color-primary-border-default);
  }
  .radioBoxText {
    text-align: left;
    overflow-wrap: break-word;
    font-weight: 500;
  }
}
