.container {
  position: relative;
  display: grid;
  height: 165px;
  width: 150px;
  min-width: 150px;
  border: 1px solid var(--ds-color-neutral-border-subtle);
  border-radius: var(--ds-border-radius-lg);
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
}

.container:not(:hover) .button {
  display: none;
}

.container:hover .thumbnail::before {
  background-color: rgba(0, 0, 0, 0.3);
}

.thumbnail::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: transparent;
  pointer-events: none;
  transition: all 0.2s ease;
}

.thumbnail {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.button {
  position: absolute;
  right: 4px;
  top: 4px;
  background-color: white;
  border-radius: 50%;
}

.fileName {
  font-weight: var(--ds-font-weight-medium);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
  max-width: min-content;
  min-width: 0;
}

.fileExtension {
  font-weight: var(--ds-font-weight-medium);
}

.fileInfoContainer {
  display: flex;
  padding: 8px;
  width: 100%;
}
