@use 'sass:meta';

@layer reset {
  @include meta.load-css('reset');
  @include meta.load-css('react-datepicker/dist/react-datepicker.css');
}

@layer dsno {
  @include meta.load-css('@digdir/designsystemet-css/dist/src/index.css');
  @include meta.load-css('@digdir/designsystemet-theme/brand/altinn.css');
}

@layer kyvtokens {
  @include meta.load-css('@kystverket/styrbord-tokens/dist/kystverket.css');
}

@layer styrbord {
  @include meta.load-css('styrbord');
}

@layer styrbord-modules {
  @include meta.load-css('../components/designsystemet/Link/Link.override.scss');
  @include meta.load-css('../components/designsystemet/NumberInput/NumberInput.override.scss');
  @include meta.load-css('../components/designsystemet/Details/Details.override.scss');
  @include meta.load-css('../components/designsystemet/List/Lists.override.scss');
  @include meta.load-css('../components/designsystemet/Card/Card.override.scss');
  @include meta.load-css('../components/designsystemet/Tabs/Tabs.override.scss');
  @include meta.load-css('../components/designsystemet/Checkbox/Checkbox.override.scss');
  @include meta.load-css('../components/designsystemet/Avatar/Avatar.override.scss');
  @include meta.load-css('../components/kystverket/Datepicker/Datepicker.override.scss');
}

@layer reset, dsno, kyvtokens, kyvtokenstodesignsystemet, styrbord, styrbord-modules;
