.displayLg {
  font-size: var(--typescale-display-large-font-size);
  line-height: var(--typescale-display-large-line-height);
  letter-spacing: var(--typescale-display-large-letter-spacing);
  font-weight: var(--font-weight-semibold);
}

.displayMd {
  font-size: var(--typescale-display-medium-font-size);
  line-height: var(--typescale-display-medium-line-height);
  letter-spacing: var(--typescale-display-medium-letter-spacing);
  font-weight: var(--font-weight-semibold);
}

.displaySm {
  font-size: var(--typescale-display-small-font-size);
  line-height: var(--typescale-display-small-line-height);
  letter-spacing: var(--typescale-display-small-letter-spacing);
  font-weight: var(--font-weight-semibold);
}

.headlineLg {
  font-size: var(--typescale-headline-large-font-size);
  line-height: var(--typescale-headline-large-line-height);
  letter-spacing: var(--typescale-headline-large-letter-spacing);
  font-weight: var(--font-weight-semibold);
}

.headlineMd {
  font-size: var(--typescale-headline-medium-font-size);
  line-height: var(--typescale-headline-medium-line-height);
  letter-spacing: var(--typescale-headline-medium-letter-spacing);
  font-weight: var(--font-weight-semibold);
}

.headlineSm {
  font-size: var(--typescale-headline-small-font-size);
  line-height: var(--typescale-headline-small-line-height);
  letter-spacing: var(--typescale-headline-small-letter-spacing);
  font-weight: var(--font-weight-semibold);
}

.titleLg {
  font-size: var(--typescale-title-large-font-size);
  line-height: var(--typescale-title-large-line-height);
  letter-spacing: var(--typescale-title-large-letter-spacing);
  font-weight: var(--font-weight-semibold);
}

.titleMd {
  font-size: var(--typescale-title-medium-font-size);
  line-height: var(--typescale-title-medium-line-height);
  letter-spacing: var(--typescale-title-medium-letter-spacing);
  font-weight: var(--font-weight-semibold);
}

.titleSm {
  font-size: var(--typescale-title-small-font-size);
  line-height: var(--typescale-title-small-line-height);
  letter-spacing: var(--typescale-title-small-letter-spacing);
  font-weight: var(--font-weight-semibold);
}

.bodyLg {
  font-size: var(--typescale-body-large-font-size);
  line-height: var(--typescale-body-large-line-height);
  letter-spacing: var(--typescale-body-large-letter-spacing);
  font-weight: var(--font-weight-regular);
}

.bodyMd {
  font-size: var(--typescale-body-medium-font-size);
  line-height: var(--typescale-body-medium-line-height);
  letter-spacing: var(--typescale-body-medium-letter-spacing);
  font-weight: var(--font-weight-regular);
}

.bodySm {
  font-size: var(--typescale-body-small-font-size);
  line-height: var(--typescale-body-small-line-height);
  letter-spacing: var(--typescale-body-small-letter-spacing);
  font-weight: var(--font-weight-regular);
}

.bodyStrongLg {
  composes: bodyLg;
  font-weight: var(--font-weight-semibold);
}

.bodyStrongMd {
  composes: bodyMd;
  font-weight: var(--font-weight-semibold);
}

.bodyStrongSm {
  composes: bodySm;
  font-weight: var(--font-weight-semibold);
}

.labelXl {
  font-size: var(--typescale-label-xlarge-font-size);
  line-height: var(--typescale-label-xlarge-line-height);
  letter-spacing: var(--typescale-label-xlarge-letter-spacing);
  font-weight: var(--font-weight-regular);
}

.labelLg {
  font-size: var(--typescale-label-large-font-size);
  line-height: var(--typescale-label-large-line-height);
  letter-spacing: var(--typescale-label-large-letter-spacing);
  font-weight: var(--font-weight-regular);
}

.labelMd {
  font-size: var(--typescale-label-medium-font-size);
  line-height: var(--typescale-label-medium-line-height);
  letter-spacing: var(--typescale-label-medium-letter-spacing);
  font-weight: var(--font-weight-regular);
}

.labelSm {
  font-size: var(--typescale-label-small-font-size);
  line-height: var(--typescale-label-small-line-height);
  letter-spacing: var(--typescale-label-small-letter-spacing);
  font-weight: var(--font-weight-regular);
}

.labelStrongXl {
  composes: labelXl;
  font-weight: var(--font-weight-semibold);
}

.labelStrongLg {
  composes: labelLg;
  font-weight: var(--font-weight-semibold);
}

.labelStrongMd {
  composes: labelMd;
  font-weight: var(--font-weight-semibold);
}

.labelStrongSm {
  composes: labelSm;
  font-weight: var(--font-weight-semibold);
}
