.box {
  display: flex;
  flex-direction: column;
  --box-pt: 0;
  --box-pr: 0;
  --box-pb: 0;
  --box-pl: 0;
  --box-mt: 0;
  --box-mr: 0;
  --box-mb: 0;
  --box-ml: 0;
  padding: var(--box-pt) var(--box-pr) var(--box-pb) var(--box-pl);
  margin: var(--box-mt) var(--box-mr) var(--box-mb) var(--box-ml);
  gap: var(--box-gap);
}

.horizontal {
  flex-direction: row;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: end;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: end;
}

.justify-between {
  justify-content: space-between;
}
