.inputWrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.inputIcon {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-neutral-text-subtle);
  pointer-events: none;
}
