name: CI

on:
  - pull_request

jobs:
  check-version-base:
    name: Is Base NPM version untagged?
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./base
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '22.x'
      - name: Hente STYRBORD_VERSION
        run: echo "STYRBORD_VERSION=v$(node -p "require('./package.json').version")" >> $GITHUB_ENV
      - run: echo $STYRBORD_VERSION
      - uses: mukunku/tag-exists-action@v1.6.0
        id: check-tag
        with:
          tag: ${{ env.STYRBORD_VERSION }}
      - run: exit 1
        if: steps.check-tag.outputs.exists == 'true'
  check-version-kart:
    name: Is Kart NPM version untagged?
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./kart
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '22.x'
      - name: Hente STYRBORD_VERSION
        run: echo "STYRBORD_VERSION=v$(node -p "require('./package.json').version")-kart" >> $GITHUB_ENV
      - run: echo $STYRBORD_VERSION
      - uses: mukunku/tag-exists-action@v1.6.0
        id: check-tag
        with:
          tag: ${{ env.STYRBORD_VERSION }}
      - run: exit 1
        if: steps.check-tag.outputs.exists == 'true'
  run-linters:
    name: Pretty / Lint / Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '22.x'
      - name: npm ci
        run: |
          printf "//npm.pkg.github.com/:_authToken=$GITHUB_TOKEN\n@kystverket:registry=https://npm.pkg.github.com/" > .npmrc
          npm ci --ignore-scripts
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: npm run lint:check
      - run: npm run pretty:check
      - run: npm run build
