name: Publish release to GitHub Packages

on:
  push:
    branches:
      - main

jobs:
  increment-and-tag-version:
    permissions:
      id-token: write
      packages: write
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
      - run: git config user.name "$GITHUB_ACTOR"
      - uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          registry-url: 'https://npm.pkg.github.com'
          # Defaults to the user or organization that owns the workflow file
          scope: '@kystverket'
      - uses: 'phips28/gh-action-bump-version@master'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PACKAGEJSON_DIR: '.'
        with:
          version-type: 'patch'
      - name: Hente STYRBORD_VERSION
        run: echo "STYRBORD_VERSION=v$(node -p "require('./package.json').version")" >> $GITHUB_ENV
      - run: echo $STYRBORD_VERSION
      - run: echo ${STYRBORD_VERSION}
      - run: git tag ${STYRBORD_VERSION}
      - run: git push "https://$GITHUB_ACTOR:${{ secrets.ACCESS_TOKEN }}@github.com/$GITHUB_REPOSITORY.git" --follow-tags
      - run: git push "https://$GITHUB_ACTOR:${{ secrets.ACCESS_TOKEN }}@github.com/$GITHUB_REPOSITORY.git" --tags
  publish-to-github-packages:
    runs-on: ubuntu-latest
    needs:
      - increment-and-tag-version
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          registry-url: 'https://npm.pkg.github.com'
          # Defaults to the user or organization that owns the workflow file
          scope: '@kystverket'
      - run: git pull
      - name: Install dependencies
        run: |
          printf "//npm.pkg.github.com/:_authToken=$GITHUB_TOKEN\n@kystverket:registry=https://npm.pkg.github.com/" > .npmrc
          npm ci --ignore-scripts
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - run: npm run build
      - run: npm publish
  publish-to-npmjs:
    runs-on: ubuntu-latest
    needs:
      - increment-and-tag-version
    permissions:
      id-token: write
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          registry-url: 'https://registry.npmjs.org'
          # Defaults to the user or organization that owns the workflow file
          scope: '@kystverket'
      - run: npm install -g npm@latest
      - name: Clear auth token for OIDC
        run: echo "NODE_AUTH_TOKEN=" >> $GITHUB_ENV
      - run: git pull
      - name: Install dependencies
        run: |
          npm ci --ignore-scripts
      - run: npm run build
      - run: npm publish --access public
