@layer styrbord-modules {
  .input :global(.react-datepicker__input-time-container) input {
    font-size: 13px;
    border-radius: 4px;
    box-shadow: inset 0 2px 2px #e9e9e9;
    border: 1px solid #aeaeae;
    line-height: 16px;
    padding: 6px 10px 5px;
  }
}

.inputWrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.inputIcon {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-neutral-text-subtle);
  pointer-events: none;
}
